@import "tailwindcss";

@theme {
  --color-nh-blue: #005bac;
  --color-nh-yellow: #ffc224;
  --color-nh-green: #3dae2b;
}

body {
  background-color: #f3f4f6;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

.app-container {
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* Ensures the pseudo-element doesn't overflow */
}

.app-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}